
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Hi, user <%= @user_name %> </h1>
<h1>Mail: <%= @user_mail %> </h1>
<h1>Phone: <%= @user_phone %> </h1>


</body>
</html>