<div class="bs-example">
  <!-- Button HTML (to Trigger Modal) -->

  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form role="form" action="/order" method="post">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Name:</label>
              <input type="text" name="user_name" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Phone:</label>
              <input type="text" name="user_phone" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Email:</label>
              <input type="text" name="user_mail" class="form-control" id="recipient-name">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Buy</button>
            </div>

            <input type="hidden" name="itemId" id="itemId">

          </form>
        </div>

      </div>
    </div>
  </div>
</div>